h1{
    padding-top: 20px;
    text-align:center;
}

h2{
    padding-top: 20px;
    text-align:center;
}

div{
    text-align: center;
}
img{
    margin-top:20px;
    width: 450px;
    height:600px;
}

button{
    margin-top: 10px;
}

.mat-flat-button{
    background-color:#525f41;
}

mat-expansion-panel{
    width: 500px;
    margin:auto;
    background-color:#525f41;
}
mat-expansion-panel-header{
    margin-left:35%;
}

p{
    margin-top: 20px;
}