<body>
    
    <h1>Üdvözüljük a Filmek oldalán!</h1>
    <mat-divider></mat-divider>

    <h2>A jelenleg műsoron lévő filmek: </h2>

    <div>
        <img src="../../assets/DoctorStrange.jpg">
        <br>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button mat-flat-button (click)="panelOpenState=true" >Film részletei</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="randomszovegeles">
                <h2>Doctor Strange az Örület Multiverzumában</h2>
                <mat-divider></mat-divider>
                <p>A Marvel Studios új filmje, a DOCTOR STRANGE AZ ŐRÜLET MULTIVERZUMÁBAN feltárja az MCU multiverzumának kapuját, és messzebbre merészkedik, mint eddig bármikor. Doctor Strange az ismeretlen felé veszi az irányt, és néhány új és régi misztikus szövetségessel az oldalán átszeli a multiverzum észbontó és veszedelmes alternatív valóságait, hogy megütközzhessen egy rejtélyes új ellenséggel. FIGYELEM! A Doctor Strange az őrület multiverzumában című film több jelenetét kísérő villódzó fények hatással lehetnek azon nézőkre, akik hajlamosak fotoszenzitív epilepsziára vagy más módon fényérzékenyek.</p>
            </div>
        </mat-expansion-panel>
       
        
    </div>
    <br>
    <div>
        <img src="../../assets/legendas.jpg">
        <br>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button  mat-flat-button (click)="panelOpenState=true" >Film részletei</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="randomszovegeles">
                <h2>Legendás Állatok: Dumbledore Titkat</h2>
                <mat-divider></mat-divider>
                <p>A mágikus világ egyre nagyobb bajban van, és nemcsak Grindelwald, a békéjére törő gonosz varázsló, valamint sok szövetségese miatt, hanem azért is, mert a jövője egy igen furcsa társaságon múlik: egy szakmájának élő, kétballábas magizoológuson, két furcsa varázslónőn (az egyik nagyon buzgó, a másik igen csinos), és egy muglin! Még szerencse, hogy van valaki, aki mellettük áll: egy fiatal, nagy tehetségű, bár zűrös életű mágus, egy bizonyos Albus Dumbledore.</p>
            </div>
        </mat-expansion-panel>
       
        
    </div>
    <br>
    <div>
        <img src="../../assets/nowayhome.jpg">
        <br>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button  mat-flat-button (click)="panelOpenState=true" >Film részletei</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="randomszovegeles">
                <h2>Pókember: Nincs Hazaút</h2>
                <mat-divider></mat-divider>
                <p>Pókembernek sok és sokféle kalandja volt már, de ilyen még soha. Lekerült róla a maszk, a világ megtudta, kicsoda ő igazából, és most egy egészen új veszéllyel is számolnia kell: a nyilvánossággal. Többé nem tudja, kényelmesen kettéválasztani a magánéletét és a szuperhős-világot. Doktor Strange-hez fordul segítségért, de attól csak még jobban megkavarodik a helyzet. Pókembernek olyan veszélyekkel kell megküzdenie, amelyeknek a létezéséről eddig nem is tudott. De ha túléli őket, talán jobban megérti, mit jelent igazából pókembernek lenni.</p>
            </div>
        </mat-expansion-panel>
       
        
    </div>
    <br>
    <div>
        <img src="../../assets/rogue.jpg">
        <br>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button  mat-flat-button (click)="panelOpenState=true" >Film részletei</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="randomszovegeles">
                <h2>Zsivány Egyes: Egy Star Wars Történet</h2>
                <mat-divider></mat-divider>
                <p>A Lucasfilm bemutatja az első különálló Star Wars-filmet, a Zsivány Egyes: Egy Star Wars-történetet, amely egy teljesen új kalandot mesél el.A galaxisban dúló háború alatt szokatlan hősök verődnek össze, hogy egy képtelennek tűnő küldetés keretében ellopják a Birodalom pusztító fegyvere, a Halálcsillag tervrajzait. A Star Wars-univerzum eme kulcsmomentuma hétköznapi embereket hoz össze, akik nem mindennapi tetteket hajtanak végre, s közben részeseivé válnak valaminek, ami messze túlmutat rajtuk.</p>
            </div>
        </mat-expansion-panel>
       
        
    </div>
    <br>
    <div>
        <img src="../../assets/infinity.jpg">
        <br>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button  mat-flat-button (click)="panelOpenState=true" >Film részletei</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="randomszovegeles">
                <h2>Bosszúállók: Végtelen Háború</h2>
                <mat-divider></mat-divider>
                <p>A Marvel mozis univerzumának egészét felölelő, tíz év eseményeinek tetőpontját jelentő Bosszúállók: Végtelen háborúban minden idők legnagyobb és leghalálosabb leszámolására kerül sor. A Bosszúállóknak és szövetségeseiknek mindent kockára kell tenniük, hogy megfékezzék a nagy erejű Thanost, aki egy szemvillanás alatt elpusztíthatja a világot.</p>
            </div>
        </mat-expansion-panel>
       
        
    </div>
    <br>
    <div>
        <img src="../../assets/force.jpg">
        <br>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button  mat-flat-button (click)="panelOpenState=true" >Film részletei</button>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="randomszovegeles">
                <h2>Star Wars: Az Ébredő Erő</h2>
                <mat-divider></mat-divider>
                <p>Idén a Lucasfilm és a rendező J.J. Abrams együtt kalauzolják el a nézoket egy messzi-messzi galaxisba, a Csillagok Háborúja a Star Wars: Az ébredő Erő című alkotással december 18-án tér vissza a mozivászonra.A film főbb szerepeiben olyan nevek láthatók mint Harrison Ford, Mark Hamill, Carrie Fisher, Adam Driver, Daisy Ridley, John Boyega, Oscar Isaac, Lupita Nyong’o, Andy Serkis, Domhnall Gleeson, Anthony Daniels, Peter Mayhew és Max von Sydow. A film produceri feladatait Kathleen Kennedy, J.J. Abrams és Bryan Burk látta el, Tommy Harper és Jason McGatlin executive producerek közreműködésével. A forgatókönyvet J.J. Abrams, Lawrence Kasdan és Michael Arndt írták.</p>
            </div>
        </mat-expansion-panel>
       
        
    </div>
    <br>
   
</body>