<body>
    <h1> Elfelejtetted a foglalásod?</h1>
    <h3>Sebaj! Könnyen lekérdezheted eddigi foglalásaidat a neved és telefonszáod megadásával.</h3>

    <div class="span">
        <p> Próba adatok ha esetleg nem működne: proba@gmail.com, testcode</p>
    <span><label for="email">Email: </label><input type="text" [formControl]='email'/></span>
    <br>
    <span><label for="password">Foglalási kód: </label><input type="text"  [formControl]='password'/></span>
        <br>
    <span>
        <button (click)="getTicket()">Lekérdezés!</button>
    </span>
    
    </div>

</body>


